<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "base.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

    <center>

    <h1>Florida Commission on Human Relations Assistant:</h1>
    <p><b>What would you like to do?</b></p>

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p><h4>
              {{form.complaint_or_search(class="selectfield")}}
          </h4></p>

          <p><input type="submit" value="Go"></p>
        </form>
    </div></center>
<hr>
<body><td>
<p><center>About:</center></p>
<p><justify>The Florida Commission on Human Relations handles discrimination complaints
  by individuals against their employers, their landlords, or against a "public
  accomodation" - a fancy way of saying "restaurant, hotel, motel,gasoline station,
  theater, or certain other public places or accommodations."</p>
<p>This site is not affiliated with the Florida Commission on Human Relations.
  This site was built to assist people in filing discrimination complaints, and
  in researching the results of past complaints.</p>
<p>Anything you read on this site isn't legal advice.</p></justify>
</body>
<hr>
{% endblock %}
