<!-- extend from base layout -->

<!DOCTYPE html>


{% extends "base.html" %}

{% block content %}


<html lang="en">
<head>

  <p class="hidden-print">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

    <center>

    <h1>Please Choose What Kind of Complaint:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
      <p><h4>
          {{form.what_kind_complaint(class="selectfield")}}
      </h4></p>

          <p><input type="submit" value="On to the Complaint Assistant"></p>
    </form>
</center>

<hr>


{% endblock %}
